In [731]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_colwidth=None
pd.options.display.max_columns=None

In [732]:
shema_df=pd.read_csv(r'C:\Users\dell\Downloads\AMIT\S_19\Mohamed\StackOverflow Survey 2021\data\survey_results_schema.csv')
df=pd.read_csv(r'C:\Users\dell\Downloads\AMIT\S_19\Mohamed\StackOverflow Survey 2021\data\survey_results_public.csv')

In [733]:
#  we convert the data to int 64 
df['ResponseId']=df['ResponseId'].astype('int32')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int32
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int32(1), object(45)
memory usage: 30.2+ MB

In [734]:

schema_raw = shema_df[['qname','question']]

schema_raw[schema_raw['qname']=='CompTotal']
schema_raw[schema_raw['qname']=='UK_Country']

,qname,question
7,UK_Country,In which part of the United Kingdom do you live? <i>This information will be kept private.</i>

In [735]:
df_copy=df.copy(deep=True)

In [736]:
df.rename(columns={'ConvertedCompYearly':'ConvertedCompYearlybyUSD'},inplace=True)

In [737]:
df['US_State'].unique()

array([nan, 'Georgia', 'New Hampshire', 'Missouri',
       'District of Columbia', 'Massachusetts', 'Louisiana', 'Virginia',
       'New York', 'Texas', 'Colorado', 'Minnesota', 'Maryland',
       'California', 'Iowa', 'Illinois', 'Arkansas', 'South Carolina',
       'Pennsylvania', 'Nebraska', 'North Carolina', 'Tennessee',
       'Kansas', 'Connecticut', 'Rhode Island', 'Florida', 'Ohio',
       'Vermont', 'Kentucky', 'Washington', 'New Jersey', 'Alabama',
       'Wisconsin', 'Indiana', 'North Dakota', 'Utah', 'Arizona',
       'Michigan', 'Oregon', 'Montana', 'Maine', 'West Virginia',
       'Oklahoma', 'New Mexico', 'I do not reside in the United States',
       'Idaho', 'South Dakota', 'Alaska', 'Nevada', 'Puerto Rico',
       'Delaware', 'Hawaii', 'Wyoming', 'Mississippi', 'American Samoa',
       'Guam'], dtype=object)

In [738]:
df['ConvertedCompYearlybyUSD'].isnull().mean()
# the Percentage of the data non is 43 %

0.4385838756456813

In [739]:
df.dropna(subset='ConvertedCompYearlybyUSD',inplace=True)

In [740]:
df['ConvertedCompYearlybyUSD'].isnull().mean()

0.0

In [741]:
df['ResponseId'].max()

83439

In [742]:
2**32

4294967296

In [743]:
pd.options.display.max_rows=None
df['Country'].value_counts(normalize=True).cumsum()
#  if you idea to drop the data we drop 48 % in the data

United States of America                                0.210699
India                                                   0.292545
Germany                                                 0.361989
United Kingdom of Great Britain and Northern Ireland    0.424537
Canada                                                  0.461468
France                                                  0.496392
Brazil                                                  0.530185
Poland                                                  0.554030
Netherlands                                             0.576616
Spain                                                   0.598711
Australia                                               0.618991
Italy                                                   0.638908
Russian Federation                                      0.657651
Sweden                                                  0.675327
Switzerland                                             0.687388
Turkey                                                  0.698958
Israel                                                  0.709354
Ukraine                                                 0.719388
Iran, Islamic Republic of...                            0.729293
Austria                                                 0.738985
Mexico                                                  0.748655
Czech Republic                                          0.758326
Norway                                                  0.767462
Belgium                                                 0.776599
Argentina                                               0.785351
Denmark                                                 0.794061
Finland                                                 0.802259
South Africa                                            0.810243
Pakistan                                                0.818184
Romania                                                 0.825762
New Zealand                                             0.832764
Portugal                                                0.839510
Greece                                                  0.846106
China                                                   0.852489
Colombia                                                0.858424
Japan                                                   0.864294
Hungary                                                 0.869866
Bangladesh                                              0.875416
Bulgaria                                                0.880753
Ireland                                                 0.886090
Indonesia                                               0.891256
Egypt                                                   0.895355
Nigeria                                                 0.899368
Philippines                                             0.903083
Sri Lanka                                               0.906712
Serbia                                                  0.910234
Taiwan                                                  0.913735
Slovenia                                                0.917022
Croatia                                                 0.920310
Malaysia                                                0.923555
Viet Nam                                                0.926714
Chile                                                   0.929852
Singapore                                               0.932969
Slovakia                                                0.935894
Lithuania                                               0.938733
Kenya                                                   0.941295
Uruguay                                                 0.943707
Nepal                                                   0.946034
Belarus                                                 0.948147
Peru                                                    0.950175
Thailand                                                0.952203
Hong Kong (S.A.R.)                                      0.954188
Estonia                                                 0.956067
Georgia                                                 0.957903
South Korea                                             0.959717
United Arab Emirates                                    0.961489
Dominican Republic                                      0.963069
Bosnia and Herzegovina                                  0.964499
Morocco                                                 0.965908
Ecuador                                                 0.967296
Venezuela, Bolivarian Republic of...                    0.968619
Latvia                                                  0.969943
Tunisia                                                 0.971160
Costa Rica                                              0.972184
Armenia                                                 0.973102
Lebanon                                                 0.974020
Saudi Arabia                                            0.974938
Guatemala                                               0.975792
Kazakhstan                                              0.976603
The former Yugoslav Republic of Macedonia               0.977350
Albania                                                 0.978098
Ghana                                                   0.978845
Uzbekistan                                              0.979592
Paraguay                                                0.980318
Uganda                                                  0.981022
Bolivia                                                 0.981705
Cyprus                                                  0.982346
Azerbaijan                                              0.982986
Jordan                                                  0.983627
Luxembourg                                              0.984246
Republic of Moldova                                     0.984865
Ethiopia                                                0.985462
Republic of Korea                                       0.986039
Iceland                                                 0.986615
Malta                                                   0.987192
Cuba                                                    0.987747
United Republic of Tanzania                             0.988302
Panama                                                  0.988835
Syrian Arab Republic                                    0.989348
El Salvador                                             0.989796
Kosovo                                                  0.990244
Myanmar                                                 0.990671
Iraq                                                    0.991077
Nomadic                                                 0.991461
Cameroon                                                0.991803
Rwanda                                                  0.992123
Honduras                                                0.992443
Algeria                                                 0.992742
Montenegro                                              0.993019
Palestine                                               0.993297
Zimbabwe                                                0.993574
Kuwait                                                  0.993852
Mauritius                                               0.994108
Kyrgyzstan                                              0.994343
Madagascar                                              0.994578
Trinidad and Tobago                                     0.994813
Sudan                                                   0.995047
Zambia                                                  0.995282
Afghanistan                                             0.995517
Angola                                                  0.995731
Nicaragua                                               0.995944
Mongolia                                                0.996157
Côte d'Ivoire                                           0.996371
Cambodia                                                0.996584
Namibia                                                 0.996777
Jamaica                                                 0.996947
Senegal                                                 0.997118
Bahrain                                                 0.997268
Benin                                                   0.997417
Democratic Republic of the Congo                        0.997566
Maldives                                                0.997716
Yemen                                                   0.997844
Congo, Republic of the...                               0.997972
Swaziland                                               0.998100
Barbados                                                0.998228
Qatar                                                   0.998356
Mozambique                                              0.998463
Turkmenistan                                            0.998548
Malawi                                                  0.998634
Oman                                                    0.998719
Andorra                                                 0.998805
Togo                                                    0.998869
Lesotho                                                 0.998933
Tajikistan                                              0.998997
Haiti                                                   0.999061
Lao People's Democratic Republic                        0.999125
Isle of Man                                             0.999189
Libyan Arab Jamahiriya                                  0.999253
Belize                                                  0.999317
Botswana                                                0.999381
Mauritania                                              0.999424
Gambia                                                  0.999466
Niger                                                   0.999509
Suriname                                                0.999552
Somalia                                                 0.999594
Bhutan                                                  0.999637
Guyana                                                  0.999680
Cape Verde                                              0.999722
Saint Vincent and the Grenadines                        0.999744
Burkina Faso                                            0.999765
Fiji                                                    0.999787
Burundi                                                 0.999808
San Marino                                              0.999829
Liberia                                                 0.999851
Djibouti                                                0.999872
Saint Lucia                                             0.999893
Guinea                                                  0.999915
Saint Kitts and Nevis                                   0.999936
Monaco                                                  0.999957
Dominica                                                0.999979
North Korea                                             1.000000
Name: Country, dtype: float64

In [744]:
pd.options.display.max_rows=10

In [745]:
temp_df=pd.read_csv(r'C:\Users\dell\Downloads\AMIT\S_19\Mohamed\StackOverflow Survey 2021\data\mid-2021.csv',index_col='Country')
living_index =temp_df['Cost of Living Plus Rent Index']*0.01
living_index

Country
Bermuda        1.2671
Switzerland    0.9259
Jersey         0.8036
Hong Kong      0.7931
Luxembourg     0.7553
                ...
Algeria        0.1734
Nepal          0.1701
Afghanistan    0.1654
India          0.1584
Pakistan       0.1387
Name: Cost of Living Plus Rent Index, Length: 139, dtype: float64

In [746]:
df[df['Country']=='Algeria']
# we Standardization of living 2340 in india =2340  ,1910376 and algeria=2340,22076.1245

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearlybyUSD
1019,1020,I am a developer by profession,Employed part-time,Algeria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,"Other online resources (ex: videos, blogs, etc);Online Forum;Online Courses or Certification",5,1,"Developer, full-stack",2 to 9 employees,DZD\tAlgerian dinar,38500.0,Monthly,JavaScript;PHP,Go;PHP;Ruby;Rust,MySQL,MySQL;PostgreSQL,Heroku,AWS,jQuery;Laravel;Vue.js,Laravel;Ruby on Rails;Svelte;Symfony;Vue.js,NaN,NaN,Git;Yarn,Deno;Docker;Git;Yarn,Atom;Notepad++;Sublime Text;Vim;Visual Studio Code,PHPStorm;Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other physical activity;Google it,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",Yes,25-34 years old,Man,No,Straight / Heterosexual,I don't know,Prefer not to say,Prefer not to say,Appropriate in length,Easy,3828.0
25364,25365,I am a developer by profession,Employed full-time,Algeria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum;Online Courses or Certification",7,3,"Developer, mobile;Developer, full-stack;Data scientist or machine learning specialist;Developer, back-end;Student;Product manager",2 to 9 employees,EUR European Euro,3500.0,Monthly,C;C++;Dart;HTML/CSS;JavaScript;Python;SQL,C++;Dart;Python;SQL,MariaDB;MySQL;PostgreSQL;SQLite,MariaDB;MySQL;PostgreSQL;SQLite,DigitalOcean;Google Cloud Platform;Heroku,DigitalOcean;Google Cloud Platform,Django;jQuery;React.js,Django;React.js,Flutter;Keras;NumPy;Pandas;Qt;TensorFlow;Torch/PyTorch,Flutter;Keras;NumPy;Pandas;Qt;TensorFlow;Torch/PyTorch,Git,Git,IntelliJ;IPython/Jupyter;PyCharm;Visual Studio;Visual Studio Code,IntelliJ;IPython/Jupyter;PyCharm;Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,45396.0
35038,35039,I am a developer by profession,Employed full-time,Algeria,NaN,NaN,Some college/university study without earning a degree,18 - 24 years,"Other online resources (ex: videos, blogs, etc);School;Online Courses or Certification",2,1,"Developer, front-end;Developer, full-stack;Developer, back-end",2 to 9 employees,DZD\tAlgerian dinar,40000.0,Monthly,C#;HTML/CSS;JavaScript;PHP;SQL;TypeScript,HTML/CSS;JavaScript;PHP;TypeScript,MySQL,Firebase;MariaDB;MySQL,Microsoft Azure,Microsoft Azure,Angular.js;ASP.NET;jQuery;Laravel;Vue.js,Angular.js;Laravel;Vue.js,.NET Core / .NET 5,NaN,Git;Yarn,Git;Yarn,Visual Studio;Visual Studio Code,PHPStorm;Visual Studio;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos;Meditate;Panic;Visit another developer community (please name):,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,Appropriate in length,Easy,3972.0
36218,36219,I am a developer by profession,Employed full-time,Algeria,NaN,NaN,"Professional degree (JD, MD, etc.)",25 - 34 years,"Other online resources (ex: videos, blogs, etc);Online Forum;Online Courses or Certification",10,10,"Developer, front-end;Developer, full-stack;Developer, back-end",20 to 99 employees,DZD\tAlgerian dinar,130000.0,Monthly,HTML/CSS;JavaScript;Node.js;TypeScript,HTML/CSS;JavaScript;Node.js;TypeScript,Firebase;MariaDB;MySQL,Firebase;MariaDB;MySQL,Google Cloud Platform,Google Cloud Platform,Express;Symfony;Vue.js,Express;Symfony;Vue.js,Qt,Qt,Docker;Git;Unreal Engine;Yarn,Docker;Git;Unreal Engine;Yarn,Android Studio;Visual Studio Code,Android Studio;Visual Studio Code,Windows,Google it;Watch help / tutorial videos;Do other work and come back later,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,I have never participated in Q&A on Stack Overflow,Neutral,No,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,Appropriate in length,Easy,12912.0
40189,40190,I am a developer by profession,Employed full-time,Algeria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Colleague,30,NaN,Other (please specify):,"Just me - I am a freelancer, sole proprietor, etc.",DZD\tAlgerian dinar,60000.0,Monthly,Delphi;PHP;SQL;VBA,Python,Microsoft SQL Server;MySQL;PostgreSQL,NaN,Google Cloud Platform,NaN,NaN,NaN,NaN,NaN,Git,NaN,Eclipse;Notepad++,NaN,Windows,Visit Stack Overflow;Meditate;Play games;Visit another developer community (please name):,NaN,Less than once per month or monthly,Not sure/can't remember,NaN,"No, not at all",Yes,45-54 years old,Man,No,NaN,Middle Eastern,I am unable to / find it difficult to type,None of the above,Appropriate in length,Easy,5952.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63178,63179,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Algeria,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",3,1,"Developer, mobile;Developer, full-stack;Student","Just me - I am a freelancer, sole proprietor, etc.",EUR European Euro,10000.0,Yearly,C;C#;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;SQL,HTML/CSS;JavaScript;Node.js;PHP;Python;SQL,MariaDB;MongoDB;MySQL;Oracle,MariaDB;MongoDB;MySQL;PostgreSQL,NaN,NaN,jQuery;Laravel;Vue.js,Django;Express;FastAPI;Flask;Laravel;Vue.js,.NET Framework,Apache Spark;Hadoop;Keras;NumPy;Pandas,Git,Git,Atom;Eclipse;IPython/Jupyter;PHPStorm;PyCharm;Rider;Visual Studio;Visual Studio Code,PHPStorm;PyCharm;Webstorm,Windows,Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per month or weekly,Neutral,Yes,18-24 years old,"Man;Or, in your own words:","Or, in your own words:",Prefer to self-describe:,"White or of European descent;Or, in your own words:;Black or of African descent",I am blind / have difficulty seeing,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,10810.0
69517,69518,I am a developer by profession,Employed full-time,Algeria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc);School;Online Courses or Certification;Books / Physical media",6,Less than 1 year,"Developer, back-end",20 to 99 employees,DZD\tAlgerian dinar,82000.0,Monthly,Java;Python;SQL,Python;SQL,Oracle;PostgreSQL;SQLite,PostgreSQL;SQLite,Google Cloud Platform;Heroku,NaN,Django,Django,NaN,NaN,Docker;Git,Docker;Git,IntelliJ;IPython/Jupyter;PyCharm;Sublime Text;Visual Studio Code,IntelliJ;IPython/Jupyter;PyCharm,Linux-based,Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,18-24 years old,Man,No,Bisexual,"Or, in your own words:",None of the above,None of the above,Appropriate in length,Neither easy nor difficult,8136.0
69746,69747,I am a developer by profession,Employed full-time,Algeria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,Coding Bootcamp;School;Online Courses or Certification,7,2,"Developer, full-stack",20 to 99 employees,USD\tUnited States dollar,1000.0,Monthly,C;Java;JavaScript;Kotlin;Node.js;SQL;TypeScript,Groovy;Scala;TypeScript,DynamoDB;Firebase;MySQL;Oracle;PostgreSQL;SQLite,DynamoDB;Elasticsearch;MySQL;PostgreSQL,AWS;Google Cloud Platform,AWS,Angular;Express;Spring,Angular;Express;Spring,NaN,NaN,Docker;Git;Kubernetes;Terraform,Docker;Git;Kubernetes,Android Studio;IntelliJ;Visual Studio;Visual Studio Code,IntelliJ;Visual Studio Code,Windows,Visit Stack Overflow;Go for a walk or other physical activity;Google it,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,NaN,NaN,NaN,NaN,Appropriate in length,Easy,12000.0
73680,73681,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Algeria,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc);Colleague;Books / Physical media",9,4,"Developer, mobile;Developer, front-end;Developer, desktop or enterprise applications;Developer, full-stack;Developer, back-end","Just me - I am a freelancer, sole proprietor, etc.",DZD\tAlgerian dinar,60000.0,Monthly,HTML/CSS;JavaScript;PHP;SQL;TypeScript,Dart;HTML/CSS;Node.js;PHP;Rust;SQL;TypeScript,MySQL;Oracle,MongoDB;MySQL;Redis,NaN,NaN,Angular;jQuery;Laravel;Symfony;Vue.js,Angular;Express;Laravel;Vue.js,NaN,NaN,Git,Docker;Git,Android Studio;Eclipse;NetBeans;Sublime Text;Visual Studio Code;Xcode,Android Studio;Sublime Text;Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Google it;Watch help / tutorial videos,Stack Overflow,Multiple times per day,Not sure/can't remember,NaN,Not sure,No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,5952.0
78194,78195,I am a developer by profession,Employed full-time,Algeria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum;Online Courses or Certification;Books / Physical media",12,7,"Engineer, data;Developer, back-end;Database administrator;Scientist",20 to 99 employees,DZD\tAlgerian dinar,165165.0,Monthly,Assembly;Bash/Shell;C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Matlab;Node.js;PHP;Python;SQL;TypeScript,Bash/Shell;C;C++;Dart;Elixir;Erlang;Go;HTML/CSS;Java;JavaScript;Node.js;Objective-C;PHP;Python;R;Ruby;SQL;TypeScript,Elasticsearch;MariaDB;Microsoft SQL Server;MongoDB;MySQL;Oracle;Redis;SQLite,Cassandra;Elasticsearch;Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redis,NaN,NaN,jQuery;Symfony;Vue.js,Django;Express;React.js;Vue.js,Cordova;NumPy,Cordova;Flutter;NumPy,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Unreal Engine;Xamarin;Yarn,Vim;Visual Studio Code,Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other physical activity;Google it;Do other work and come back later;Panic;Other (please specify):,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,16404.0

# United States

In [747]:
living_index['United States']

0.5760000000000001

In [748]:
df['US_State'].unique()

array([nan, 'District of Columbia', 'Massachusetts', 'New York',
       'Minnesota', 'Maryland', 'Iowa', 'Illinois', 'Arkansas',
       'South Carolina', 'Pennsylvania', 'Nebraska', 'North Carolina',
       'Tennessee', 'Kansas', 'Connecticut', 'Texas', 'Rhode Island',
       'Virginia', 'Missouri', 'New Hampshire', 'Colorado', 'Ohio',
       'Kentucky', 'Washington', 'California', 'New Jersey', 'Alabama',
       'Wisconsin', 'Florida', 'North Dakota', 'Utah', 'Georgia',
       'Indiana', 'Michigan', 'Oregon', 'Arizona', 'Montana', 'Maine',
       'West Virginia', 'Vermont', 'New Mexico', 'Idaho', 'Oklahoma',
       'South Dakota', 'Alaska', 'Nevada', 'Delaware', 'Hawaii',
       'Louisiana', 'Puerto Rico', 'Mississippi', 'Wyoming'], dtype=object)

In [749]:
temp_df = pd.read_csv(r'C:\Users\dell\Downloads\AMIT\S_19\Mohamed\StackOverflow Survey 2021\data\mid-2021 (us state).csv')
temp_df.rename(columns={'City':'Stata'},inplace=True)
temp_df['Stata']=temp_df['Stata'].str.split(', ').str[1]

In [750]:

us_state_living_index=temp_df.groupby('Stata')['Cost of Living Plus Rent Index'].mean()*0.01

In [751]:
sum(us_state_living_index=="AS")

0

In [752]:
us_state_living_index

Stata
AK    0.670600
AL    0.515950
AR    0.451400
AZ    0.517150
CA    0.769036
        ...
TX    0.533550
UT    0.530500
VA    0.544200
WA    0.617225
WI    0.567600
Name: Cost of Living Plus Rent Index, Length: 39, dtype: float64

In [753]:
temp_df=pd.read_csv(r'C:\Users\dell\Downloads\AMIT\S_19\Mohamed\StackOverflow Survey 2021\data\us state abbrev.csv',names=['Name','Abbrev'],index_col='Name')
us_state_abbrev=temp_df['Abbrev']
us_state_abbrev

Name
Alabama           AL
Alaska            AK
Arizona           AZ
Arkansas          AR
American Samoa    AS
                  ..
Virgin Islands    VI
Washington        WA
West Virginia     WV
Wisconsin         WI
Wyoming           WY
Name: Abbrev, Length: 57, dtype: object

In [754]:
def func(x) :
    try:
        return us_state_abbrev [x]
    except:
        return np.nan

In [755]:
df['US_State'] = df['US_State'].apply(func)

In [756]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearlybyUSD
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",18 - 24 years,"Coding Bootcamp;Other online resources (ex: videos, blogs, etc)",NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,10 to 19 employees,SEK\tSwedish krona,42000.0,Monthly,C++;Python,Haskell;Python,PostgreSQL,NaN,NaN,NaN,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;TensorFlow;Torch/PyTorch,Git,Git,IPython/Jupyter;Vim;Visual Studio Code,Emacs;IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Meditate,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0
11,12,I am a developer by profession,Employed full-time,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Friend or family member",12,5,"Developer, back-end",10 to 19 employees,EUR European Euro,43000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;TypeScript,C++;Clojure;JavaScript;Node.js;Rust;SQL;TypeScript,PostgreSQL,MongoDB;PostgreSQL;Redis,AWS,NaN,Express;React.js;Vue.js,Express;Vue.js,NaN,NaN,Git,Git,Atom,Atom,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Do other work and come back later,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latino/a/x,None of the above,None of the above,Too long,Easy,46482.0
12,13,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,6,"Developer, desktop or enterprise applications;Developer, back-end","1,000 to 4,999 employees",EUR European Euro,71500.0,Yearly,C;C++;Java;Perl;Ruby,Rust,NaN,NaN,NaN,NaN,Ruby on Rails,NaN,Qt,NumPy;TensorFlow,Git,Docker;Kubernetes,Vim,Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Watch help / tutorial videos,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0
16,17,I am a developer by profession,Employed full-time,Turkey,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,School,6,2,"Developer, full-stack",100 to 499 employees,TRY\tTurkish lira,9000.0,Monthly,C#;HTML/CSS;Java;JavaScript;Node.js,C#;Java;JavaScript;Node.js,Microsoft SQL Server;MongoDB;PostgreSQL,MongoDB;PostgreSQL,AWS;Google Cloud Platform,AWS;Google Cloud Platform,Angular;ASP.NET Core ;Spring,Angular;ASP.NET Core ;Spring,.NET Core / .NET 5;Flutter,.NET Core / .NET 5,Git;Kubernetes,Git;Kubernetes,Android Studio;IntelliJ;Rider;Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Go for a walk or other physical activity,Stack Overflow,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,25-34 years old,Man,No,NaN,Middle Eastern,NaN,NaN,Appropriate in length,Neither easy nor difficult,17748.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,TX,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder (e.g. ADHD),Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum;Online Courses or Certification;Books / Physical media",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, etc.",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redis;SQLite,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on Rails;Vue.js,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans;Notepad++;PHPStorm;PyCharm;RStudio;Sublime Text;Vim;Visual Studio;Visual Studio Code,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublime Text;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Overflow,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,NJ,NaN,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",11 - 17 years,School,10,4,Data scientist or machine learning specialist;DevOps specialist,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyter;Notepad++;PyCharm;Sublime Text;Vim;Visual Studio Code;Xcode,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Overflow,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physical media,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have a mood or emotional disorder (e.g. depression, bipolar disorder)",Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Developer, back-end",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQL;TypeScript,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;Redis,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos;Do other work and come back later,Stack Overflow;Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies),A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [757]:
temp=[]
def func_us(row):
    
    salary=row.ConvertedCompYearlybyUSD
    us=row.US_State
    try:
        return salary / us_state_living_index[us]
    except:
        temp.append(us)
        return np.nan

In [758]:
df['Standardization of living_us']=df.apply(func_us, axis = 1)

In [759]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearlybyUSD,Standardization of living_us
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",18 - 24 years,"Coding Bootcamp;Other online resources (ex: videos, blogs, etc)",NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,10 to 19 employees,SEK\tSwedish krona,42000.0,Monthly,C++;Python,Haskell;Python,PostgreSQL,NaN,NaN,NaN,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;TensorFlow;Torch/PyTorch,Git,Git,IPython/Jupyter;Vim;Visual Studio Code,Emacs;IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Meditate,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0,NaN
11,12,I am a developer by profession,Employed full-time,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Friend or family member",12,5,"Developer, back-end",10 to 19 employees,EUR European Euro,43000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;TypeScript,C++;Clojure;JavaScript;Node.js;Rust;SQL;TypeScript,PostgreSQL,MongoDB;PostgreSQL;Redis,AWS,NaN,Express;React.js;Vue.js,Express;Vue.js,NaN,NaN,Git,Git,Atom,Atom,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Do other work and come back later,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latino/a/x,None of the above,None of the above,Too long,Easy,46482.0,NaN
12,13,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,6,"Developer, desktop or enterprise applications;Developer, back-end","1,000 to 4,999 employees",EUR European Euro,71500.0,Yearly,C;C++;Java;Perl;Ruby,Rust,NaN,NaN,NaN,NaN,Ruby on Rails,NaN,Qt,NumPy;TensorFlow,Git,Docker;Kubernetes,Vim,Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Watch help / tutorial videos,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0,NaN
16,17,I am a developer by profession,Employed full-time,Turkey,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,School,6,2,"Developer, full-stack",100 to 499 employees,TRY\tTurkish lira,9000.0,Monthly,C#;HTML/CSS;Java;JavaScript;Node.js,C#;Java;JavaScript;Node.js,Microsoft SQL Server;MongoDB;PostgreSQL,MongoDB;PostgreSQL,AWS;Google Cloud Platform,AWS;Google Cloud Platform,Angular;ASP.NET Core ;Spring,Angular;ASP.NET Core ;Spring,.NET Core / .NET 5;Flutter,.NET Core / .NET 5,Git;Kubernetes,Git;Kubernetes,Android Studio;IntelliJ;Rider;Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Go for a walk or other physical activity,Stack Overflow,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,25-34 years old,Man,No,NaN,Middle Eastern,NaN,NaN,Appropriate in length,Neither easy nor difficult,17748.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,TX,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder (e.g. ADHD),Appropriate in length,Easy,160500.0,300815.293787
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum;Online Courses or Certification;Books / Physical media",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, etc.",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redis;SQLite,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on Rails;Vue.js,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans;Notepad++;PHPStorm;PyCharm;RStudio;Sublime Text;Vim;Visual Studio;Visual Studio Code,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublime Text;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Overflow,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0,NaN
83436,83437,I am a developer by profession,Employed full-time,United States of America,NJ,NaN,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",11 - 17 years,School,10,4,Data scientist or machine learning specialist;DevOps specialist,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyter;Notepad++;PyCharm;Sublime Text;Vim;Visual Studio Code;Xcode,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Overflow,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0,122549.019608
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physical media,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have a mood or emotional disorder (e.g. depression, bipolar disorder)",Appropriate in length,Neither easy nor difficult,816816.0,NaN
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Developer, back-end",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQL;TypeScript,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;Redis,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos;Do other work and come back later,Stack Overflow;Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies),A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0,NaN

In [760]:
df.ConvertedCompYearlybyUSD

0         62268.0
9         51552.0
11        46482.0
12        77290.0
16        17748.0
           ...
83434    160500.0
83435      3960.0
83436     90000.0
83437    816816.0
83438     21168.0
Name: ConvertedCompYearlybyUSD, Length: 46844, dtype: float64

In [761]:
df.US_State

0        NaN
9        NaN
11       NaN
12       NaN
16       NaN
        ...
83434     TX
83435    NaN
83436     NJ
83437    NaN
83438    NaN
Name: US_State, Length: 46844, dtype: object

In [762]:
us_state_living_index

Stata
AK    0.670600
AL    0.515950
AR    0.451400
AZ    0.517150
CA    0.769036
        ...
TX    0.533550
UT    0.530500
VA    0.544200
WA    0.617225
WI    0.567600
Name: Cost of Living Plus Rent Index, Length: 39, dtype: float64

In [763]:
temp=set(temp)
temp.discard(np.nan)
# del nan values 
temp

{'CT', 'DE', 'ME', 'MS', 'MT', 'ND', 'NH', 'PR', 'RI', 'SD', 'VT', 'WV', 'WY'}

In [764]:
filt=df['US_State'].apply(lambda x: x in temp)
filt.sum()
filt_1=filt[filt].index

# The numder is 363
df.drop(filt_1 ,axis=0 , inplace=True)

In [765]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearlybyUSD,Standardization of living_us
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",18 - 24 years,"Coding Bootcamp;Other online resources (ex: videos, blogs, etc)",NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,10 to 19 employees,SEK\tSwedish krona,42000.0,Monthly,C++;Python,Haskell;Python,PostgreSQL,NaN,NaN,NaN,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;TensorFlow;Torch/PyTorch,Git,Git,IPython/Jupyter;Vim;Visual Studio Code,Emacs;IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Meditate,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0,NaN
11,12,I am a developer by profession,Employed full-time,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Friend or family member",12,5,"Developer, back-end",10 to 19 employees,EUR European Euro,43000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;TypeScript,C++;Clojure;JavaScript;Node.js;Rust;SQL;TypeScript,PostgreSQL,MongoDB;PostgreSQL;Redis,AWS,NaN,Express;React.js;Vue.js,Express;Vue.js,NaN,NaN,Git,Git,Atom,Atom,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Do other work and come back later,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latino/a/x,None of the above,None of the above,Too long,Easy,46482.0,NaN
12,13,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,6,"Developer, desktop or enterprise applications;Developer, back-end","1,000 to 4,999 employees",EUR European Euro,71500.0,Yearly,C;C++;Java;Perl;Ruby,Rust,NaN,NaN,NaN,NaN,Ruby on Rails,NaN,Qt,NumPy;TensorFlow,Git,Docker;Kubernetes,Vim,Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Watch help / tutorial videos,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0,NaN
16,17,I am a developer by profession,Employed full-time,Turkey,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,School,6,2,"Developer, full-stack",100 to 499 employees,TRY\tTurkish lira,9000.0,Monthly,C#;HTML/CSS;Java;JavaScript;Node.js,C#;Java;JavaScript;Node.js,Microsoft SQL Server;MongoDB;PostgreSQL,MongoDB;PostgreSQL,AWS;Google Cloud Platform,AWS;Google Cloud Platform,Angular;ASP.NET Core ;Spring,Angular;ASP.NET Core ;Spring,.NET Core / .NET 5;Flutter,.NET Core / .NET 5,Git;Kubernetes,Git;Kubernetes,Android Studio;IntelliJ;Rider;Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Go for a walk or other physical activity,Stack Overflow,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,25-34 years old,Man,No,NaN,Middle Eastern,NaN,NaN,Appropriate in length,Neither easy nor difficult,17748.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,TX,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder (e.g. ADHD),Appropriate in length,Easy,160500.0,300815.293787
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum;Online Courses or Certification;Books / Physical media",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, etc.",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redis;SQLite,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on Rails;Vue.js,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans;Notepad++;PHPStorm;PyCharm;RStudio;Sublime Text;Vim;Visual Studio;Visual Studio Code,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublime Text;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Overflow,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0,NaN
83436,83437,I am a developer by profession,Employed full-time,United States of America,NJ,NaN,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",11 - 17 years,School,10,4,Data scientist or machine learning specialist;DevOps specialist,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyter;Notepad++;PyCharm;Sublime Text;Vim;Visual Studio Code;Xcode,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Overflow,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0,122549.019608
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physical media,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have a mood or emotional disorder (e.g. depression, bipolar disorder)",Appropriate in length,Neither easy nor difficult,816816.0,NaN
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Developer, back-end",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQL;TypeScript,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;Redis,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos;Do other work and come back later,Stack Overflow;Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies),A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0,NaN

# Finished

# UK_Country

In [766]:
pd.options.display.max_rows=None
df[['Country','UK_Country']]
pd.options.display.max_rows=10

In [767]:
Uk_country=pd.read_csv(r'C:\Users\dell\Downloads\AMIT\S_19\Mohamed\StackOverflow Survey 2021\data\mid-2021 (uk country).csv')
Uk_country.rename(columns={'City':'County'} ,inplace=True)
Uk_country['County'].unique()

array(['London, United Kingdom', 'Brighton, United Kingdom',
       'Oxford, United Kingdom', 'Guildford, United Kingdom',
       'Reading, United Kingdom', 'Cambridge, United Kingdom',
       'Bristol, United Kingdom', 'Edinburgh, United Kingdom',
       'Milton Keynes, United Kingdom', 'York, United Kingdom',
       'Manchester, United Kingdom', 'Portsmouth, United Kingdom',
       'Southampton, United Kingdom', 'Coventry, United Kingdom',
       'Exeter, United Kingdom', 'Birmingham, United Kingdom',
       'Aberdeen, United Kingdom', 'Nottingham, United Kingdom',
       'Leeds, United Kingdom', 'Glasgow, United Kingdom',
       'Cardiff, United Kingdom', 'Plymouth, United Kingdom',
       'Liverpool, United Kingdom', 'Swansea, United Kingdom',
       'Derby, United Kingdom', 'Sheffield, United Kingdom',
       'Belfast, United Kingdom', 'Newcastle upon Tyne, United Kingdom',
       'Dundee, United Kingdom', 'Leicester, United Kingdom',
       'Kingston upon Hull, United Kingdom',
       'Stoke-on-Trent, United Kingdom'], dtype=object)

In [768]:
Uk_country['County']=Uk_country['County'].str.split(',').str[0]
Uk_country

                 County  Cost of Living Plus Rent Index
0                London                           81.97
1              Brighton                           65.99
2                Oxford                           65.56
3             Guildford                           65.36
4               Reading                           62.88
..                  ...                             ...
27  Newcastle upon Tyne                           47.69
28               Dundee                           47.55
29            Leicester                           47.16
30   Kingston upon Hull                           46.08
31       Stoke-on-Trent                           44.71

[32 rows x 2 columns]

In [769]:
# Uk_country.set_index('City' ,inplace=True)

In [770]:
the_pre_uk_city =Uk_country['Cost of Living Plus Rent Index']*0.01

In [771]:
the_pre_uk_city

0     0.8197
1     0.6599
2     0.6556
3     0.6536
4     0.6288
       ...
27    0.4769
28    0.4755
29    0.4716
30    0.4608
31    0.4471
Name: Cost of Living Plus Rent Index, Length: 32, dtype: float64

In [772]:
df['Country'].unique()

array(['Slovakia', 'Sweden', 'Spain', 'Germany', 'Turkey', 'Canada',
       'Singapore', 'France', 'Switzerland',
       'United Kingdom of Great Britain and Northern Ireland',
       'Russian Federation', 'Israel', 'Ukraine',
       'United States of America', 'Brazil', 'Bulgaria', 'Greece',
       'Italy', 'Netherlands', 'Poland', 'Uzbekistan', 'Hungary',
       'Pakistan', 'Nigeria', 'Albania', 'Bangladesh', 'Austria',
       'Viet Nam', 'Romania', 'Sri Lanka', 'India', 'Lithuania',
       'Slovenia', 'Croatia', 'Georgia', 'Denmark', 'Armenia', 'Ireland',
       'Lebanon', 'Bahrain', 'Egypt', 'Colombia', 'Australia', 'Belgium',
       'Chile', 'Indonesia', 'Iran, Islamic Republic of...', 'Portugal',
       'Finland', 'Hong Kong (S.A.R.)', 'Argentina', 'Costa Rica', 'Peru',
       'Japan', 'United Arab Emirates', 'Bolivia', 'South Africa',
       'Norway', 'Serbia', 'Malta', 'Malaysia', 'Czech Republic',
       'Belarus', 'Madagascar', 'Kenya', 'Uruguay',
       'The former Yugoslav Republic of Macedonia', 'Botswana', 'Algeria',
       'China', 'Mexico', 'Cyprus',
       'Venezuela, Bolivarian Republic of...', 'Jordan',
       'Dominican Republic', 'Ecuador', 'Luxembourg',
       'Syrian Arab Republic', 'Zambia', 'Taiwan', 'Tunisia',
       'South Korea', 'Senegal', 'Paraguay', 'Iceland', 'Morocco',
       'Guatemala', 'Cameroon', 'Republic of Moldova', 'Nepal',
       'Kazakhstan', 'Estonia', 'Panama', 'Ethiopia', 'Cuba', 'Latvia',
       "Lao People's Democratic Republic", 'Yemen', 'Thailand',
       'Democratic Republic of the Congo', 'Somalia', 'Iraq',
       'Philippines', 'Azerbaijan', 'Saudi Arabia', 'Honduras', 'Angola',
       'Bosnia and Herzegovina', 'United Republic of Tanzania',
       'El Salvador', 'Kosovo', 'Andorra', 'New Zealand', 'Dominica',
       'Nomadic', 'Nicaragua', 'Mozambique', 'Trinidad and Tobago',
       'Barbados', 'Mauritius', 'Kuwait', 'Gambia', 'Ghana',
       'Congo, Republic of the...', 'Mauritania', 'Myanmar',
       'Republic of Korea', 'Cambodia', 'Kyrgyzstan', 'Afghanistan',
       'Uganda', 'Rwanda', 'Montenegro', 'Swaziland',
       'Saint Kitts and Nevis', 'Monaco', 'Turkmenistan',
       'Libyan Arab Jamahiriya', 'Sudan', 'Isle of Man', 'Qatar', 'Haiti',
       'Belize', 'Benin', 'Bhutan', 'Palestine', 'Mongolia', 'Tajikistan',
       'Cape Verde', 'Oman', "Côte d'Ivoire", 'Zimbabwe', 'Jamaica',
       'Guyana', 'Namibia', 'Togo', 'Lesotho', 'Guinea', 'Liberia',
       'Suriname', 'Niger', 'Maldives', 'Saint Lucia', 'Djibouti',
       'Malawi', 'San Marino', 'Saint Vincent and the Grenadines',
       'Burkina Faso', 'Fiji', 'Burundi', 'North Korea'], dtype=object)

In [773]:
df['UK_Country'].unique()
# region

array([nan, 'England', 'Scotland', 'Northern Ireland', 'Wales'],
      dtype=object)

In [774]:
test=df[df['UK_Country']=='Scotland']
test

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearlybyUSD,Standardization of living_us
88,89,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,26,14,"Developer, full-stack",10 to 19 employees,GBP\tPound sterling,47500.0,Yearly,C#;Clojure;Go;JavaScript;Python;SQL,Clojure,Microsoft SQL Server,NaN,Microsoft Azure,NaN,jQuery,NaN,.NET Framework;.NET Core / .NET 5,NaN,Git,NaN,IntelliJ;Rider;Visual Studio;Visual Studio Code,NaN,Windows,Call a coworker or friend;Go for a walk or other physical activity;Do other work and come back later;Visit another developer community (please name):,Stack Overflow,A few times per month or weekly,Yes,A few times per month or weekly,"No, not at all",Yes,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,61398.0,NaN
180,181,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,Some college/university study without earning a degree,18 - 24 years,Coding Bootcamp;Online Forum;Friend or family member;Other (please specify):,35,25,Academic researcher,"5,000 to 9,999 employees",GBP\tPound sterling,47000.0,Yearly,C;C++;HTML/CSS;JavaScript,C;C#;C++;HTML/CSS;JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio;Xcode,RStudio;Visual Studio;Xcode,Windows,Visit Stack Overflow;Google it;Do other work and come back later;Meditate,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,55-64 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,60752.0,NaN
1011,1012,I am a developer by profession,Employed part-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,Friend or family member,32,15,"Developer, full-stack","1,000 to 4,999 employees",GBP\tPound sterling,51000.0,Yearly,Bash/Shell;Go;Java;Node.js;Python,Bash/Shell;Go;Haskell;Node.js;Python,Elasticsearch;PostgreSQL;Redis,DynamoDB;Elasticsearch;PostgreSQL;Redis,AWS,AWS,Express;React.js,Express;React.js,NaN,NaN,Ansible;Docker;Git;Kubernetes,Docker;Git;Kubernetes;Terraform,IntelliJ;IPython/Jupyter;PyCharm;Vim;Visual Studio Code,IPython/Jupyter;Neovim;PyCharm;Vim;Visual Studio Code,MacOS,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Do other work and come back later,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"No, not really",No,35-44 years old,Woman,Yes,Gay or Lesbian;Queer,White or of European descent,None of the above,I have a concentration and/or memory disorder (e.g. ADHD),Appropriate in length,Neither easy nor difficult,65922.0,NaN
2008,2009,"I am not primarily a developer, but I write code sometimes as part of my work",Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,School,15,5,"Developer, front-end;Developer, desktop or enterprise applications;Engineer, data;Developer, back-end;Data or business analyst;Designer",20 to 99 employees,GBP\tPound sterling,30000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python;VBA,C#;C++;HTML/CSS;JavaScript,NaN,NaN,NaN,NaN,Angular.js,Angular;Angular.js,.NET Framework,.NET Framework;.NET Core / .NET 5,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Call a coworker or friend;Visit Stack Overflow;Google it;Do other work and come back later;Play games,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,Neutral,No,25-34 years old,Man,No,Bisexual,White or of European descent,None of the above,"I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder",Too short,Easy,38778.0,NaN
2063,2064,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,18,9,"Developer, front-end;Developer, desktop or enterprise applications;Developer, full-stack;Developer, back-end",100 to 499 employees,GBP\tPound sterling,60000.0,Yearly,Bash/Shell;C#;HTML/CSS;JavaScript;PowerShell;SQL,C#;HTML/CSS;R;SQL,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server,Microsoft Azure,Microsoft Azure,ASP.NET;ASP.NET Core ;jQuery,ASP.NET Core,.NET Framework;.NET Core / .NET 5;Hadoop,.NET Core / .NET 5;Hadoop,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,77556.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81305,81306,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc);School;Online Forum",10,4,"Developer, back-end",2 to 9 employees,GBP\tPound sterling,38500.0,Monthly,HTML/CSS;JavaScript;Node.js;PHP,PHP,MySQL,MySQL,AWS;DigitalOcean;Google Cloud Platform,DigitalOcean,Laravel;Vue.js,Laravel;Symfony;Vue.js,NaN,NaN,Git,Git,PHPStorm,NaN,Windows,Call a coworker or friend;Visit Stack Overflow,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,I have never participated in Q&A on Stack Overflow,"No, not at all",Yes,25-34 years old,Man,No,Straight / Heterosexual;Bisexual,White or of European descent,None of the above,"I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder",Too short,Easy,597180.0,NaN
81911,81912,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Books / Physical media,24,21,"Developer, front-end;Developer, full-stack;Developer, back-end",20 to 99 employees,GBP\tPound sterling,85000.0,Yearly,HTML/CSS;JavaScript;Node.js;Python;TypeScript,Node.js;Python;Rust;TypeScript,PostgreSQL,NaN,AWS;Google Cloud Platform,AWS,React.js,FastAPI;React.js;Vue.js,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Pulumi;Terraform;Yarn,IntelliJ;Visual Studio Code,IntelliJ;Visual Studio Code,MacOS,Visit Stack Overflow;Google it;Do other work and come back later,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per month or weekly,Neutral,No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,109871.0,NaN
82308,82309,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,School;Colleague,12,7,"Developer, embedded applications or devices","10,000 or more employees",GBP\tPound sterling,41700.0,Yearly,C;C++,C;C++,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,IntelliJ,IntelliJ,Linux-based,Call a coworker or friend;Google it;Watch help / tutorial videos,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too short,Easy,53901.0,NaN
82556,82557,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,School;Online Forum,8,2,"Developer, full-stack;Data scientist or machine learning specialist;Academic researcher","5,000 to 9,999 employees",GBP\tPound sterling,34000.0,Yearly,Groovy;HTML/CSS;Java;PowerShell;Python,Groovy;Java;Python,NaN,NaN,NaN,NaN,NaN,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Git,Git,Atom;Eclipse;IntelliJ;IPython/Jupyter;Notepad++;PyCharm,Atom;Eclipse;IntelliJ;IPython/Jupyter;Notepad++;PyCharm,Windows,Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos,Stack Overflow;Stack Exchange,Multiple times per day,No,NaN,Neutral,No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,43948.0,NaN
83047,83048,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern Ireland,NaN,Scotland,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Books / Physical media,35,25,"Developer, back-end","5,000 to 9,999 employees",GBP\tPound sterling,150000.0,Yearly,Bash/Shell;Java;JavaScript;Kotlin;Ruby;SQL,Java;Kotlin;SQL,PostgreSQL,Elasticsearch;PostgreSQL,AWS,NaN,Spring,Spring,NaN,NaN,Docker;Git;Kubernetes,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ,Linux-based,Visit Stack Overflow;Go for a walk or other physical activity;Google it;Do other work and come back later,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,Neutral,No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,193889.0,NaN

In [775]:
test.value_counts()

Series([], dtype: int64)

In [776]:
sum(the_pre_uk_city=='Armagh')

0

In [777]:
uk_conties_to_regions=pd.read_csv(r'C:\Users\dell\Downloads\AMIT\S_19\Mohamed\StackOverflow Survey 2021\data\uk-counties-to-regions.csv')
# uk_conties_to_regions.set_index('County',inplace=True)

In [778]:
g=uk_conties_to_regions.groupby('Region')
for i ,j in g:
    print(i)
    print(j)

Crown Dependencies
     County              Region
0  Guernsey  Crown Dependencies
1       IOM  Crown Dependencies
2    Jersey  Crown Dependencies
East Midlands
                    County         Region
3    North East Derbyshire  East Midlands
4             Amber Valley  East Midlands
5                 Ashfield  East Midlands
6                Bassetlaw  East Midlands
7                    Blaby  East Midlands
..                     ...            ...
47           South Holland  East Midlands
48          South Kesteven  East Midlands
49  South Northamptonshire  East Midlands
50          Wellingborough  East Midlands
51            West Lindsey  East Midlands

[49 rows x 2 columns]
East of England
              County           Region
52           Babergh  East of England
53          Basildon  East of England
54           Bedford  East of England
55   Bedford Borough  East of England
56      Bedfordshire  East of England
..               ...              ...
103         Thurrock  East of England
104       Uttlesford  East of England
105          Watford  East of England
106          Waveney  East of England
107  Welwyn Hatfield  East of England

[56 rows x 2 columns]
London
                   County  Region
108  Barking and Dagenham  London
109                Barnet  London
110                Bexley  London
111                 Brent  London
112               Bromley  London
..                    ...     ...
139                Sutton  London
140         Tower Hamlets  London
141        Waltham Forest  London
142            Wandsworth  London
143           Westminster  London

[36 rows x 2 columns]
North East England
                   County              Region
144         County Durham  North East England
145            Darlington  North East England
146                Durham  North East England
147                Durham  North East England
148             Gateshead  North East England
..                    ...                 ...
155  Redcar and Cleveland  North East England
156        South Tyneside  North East England
157      Stockton-on-Tees  North East England
158            Sunderland  North East England
159         Tyne and Wear  North East England

[16 rows x 2 columns]
North West England
                    County              Region
160              Allerdale  North West England
161      Barrow-in-Furness  North West England
162  Blackburn with Darwen  North West England
163              Blackpool  North West England
164                 Bolton  North West England
..                     ...                 ...
201             Warrington  North West England
202        West Lancashire  North West England
203                  Wigan  North West England
204                 Wirral  North West England
205                   Wyre  North West England

[46 rows x 2 columns]
Northern Ireland
           County            Region
206        Antrim  Northern Ireland
207          Ards  Northern Ireland
208        Armagh  Northern Ireland
209     Ballymena  Northern Ireland
210    Ballymoney  Northern Ireland
..            ...               ...
231  Newtownabbey  Northern Ireland
232    North Down  Northern Ireland
233         Omagh  Northern Ireland
234  South Tyrone  Northern Ireland
235      Strabane  Northern Ireland

[30 rows x 2 columns]
Scotland
                  County    Region
236        Aberdeen City  Scotland
237        Aberdeenshire  Scotland
238                Angus  Scotland
239      Argyll and Bute  Scotland
240          Argyllshire  Scotland
..                   ...       ...
290        West Ayrshire  Scotland
291  West Dunbartonshire  Scotland
292         West Lothian  Scotland
293         Wigtownshire  Scotland
294              Zetland  Scotland

[59 rows x 2 columns]
South East England
                     County              Region
295                    Adur  South East England
296                    Arun  South East England
297                 Ashford  South East England
298          Aylesbury Vale  South East England
299   Basingstoke and Deane  South East England
..                      ...                 ...
369  Windsor and Maidenhead  South East England
370                  Woking  South East England
371               Wokingham  South East England
372                Worthing  South East England
373                 Wycombe  South East England

[79 rows x 2 columns]
South West England
                           County              Region
374  Bath and North East Somerset  South West England
375                   Bournemouth  South West England
376                       Bristol  South West England
377                    Cheltenham  South West England
378                  Christchurch  South West England
..                            ...                 ...
417                   West Dorset  South West England
418                 West Somerset  South West England
419         Weymouth and Portland  South West England
420                     Wiltshire  South West England
421                     Wiltshire  South West England

[48 rows x 2 columns]
Wales
            County Region
422       Aberdare  Wales
423        Bargoed  Wales
424          Barry  Wales
425  Blaenau Gwent  Wales
426       Bridgend  Wales
..             ...    ...
462      Tonypandy  Wales
463        Torfaen  Wales
464      Treharris  Wales
465       Treorchy  Wales
466        Wrexham  Wales

[45 rows x 2 columns]
West Midlands
             County         Region
467      Birmingham  West Midlands
468      Bromsgrove  West Midlands
469   Cannock Chase  West Midlands
470        Coventry  West Midlands
471          Dudley  West Midlands
..              ...            ...
498   Wolverhampton  West Midlands
499       Worcester  West Midlands
500  Worcestershire  West Midlands
501        Wychavon  West Midlands
502     Wyre Forest  West Midlands

[36 rows x 2 columns]
Yorkshire and the Humber
                         County                    Region
503                    Barnsley  Yorkshire and the Humber
504                    Bradford  Yorkshire and the Humber
505                  Calderdale  Yorkshire and the Humber
506  City of Kingston-upon-Hull  Yorkshire and the Humber
507                      Craven  Yorkshire and the Humber
..                          ...                       ...
526                   Sheffield  Yorkshire and the Humber
527             South Yorkshire  Yorkshire and the Humber
528                   Wakefield  Yorkshire and the Humber
529              West Yorkshire  Yorkshire and the Humber
530                        York  Yorkshire and the Humber

[28 rows x 2 columns]

In [779]:
hamada=pd.concat([uk_conties_to_regions, Uk_country])

In [780]:
pd.options.display.max_rows=None
hamada

,County,Region,Cost of Living Plus Rent Index
0,Guernsey,Crown Dependencies,NaN
1,IOM,Crown Dependencies,NaN
2,Jersey,Crown Dependencies,NaN
3,North East Derbyshire,East Midlands,NaN
4,Amber Valley,East Midlands,NaN
5,Ashfield,East Midlands,NaN
6,Bassetlaw,East Midlands,NaN
7,Blaby,East Midlands,NaN
8,Bolsover,East Midlands,NaN
9,Boston,East Midlands,NaN
10,Broxtowe,East Midlands,NaN
11,Charnwood,East Midlands,NaN
12,Chesterfield,East Midlands,NaN
13,Corby,East Midlands,NaN
14,Daventry,East Midlands,NaN
15,Derby,East Midlands,NaN
16,Derbyshire,East Midlands,NaN
17,Derbyshire,East Midlands,NaN
18,Derbyshire Dales,East Midlands,NaN
19,East Lindsey,East Midlands,NaN
20,East Northamptonshire,East Midlands,NaN
21,Erewash,East Midlands,NaN
22,Gedling,East Midlands,NaN
23,Harborough,East Midlands,NaN
24,High Peak,East Midlands,NaN
25,Hinckley and Bosworth,East Midlands,NaN
26,Kettering,East Midlands,NaN
27,Leicester,East Midlands,NaN
28,Leicestershire,East Midlands,NaN
29,Leicestershire,East Midlands,NaN
30,Lincoln,East Midlands,NaN
31,Lincolnshire,East Midlands,NaN
32,Lincolnshire,East Midlands,NaN
33,Mansfield,East Midlands,NaN
34,Melton,East Midlands,NaN
35,Newark and Sherwood,East Midlands,NaN
36,North Kesteven,East Midlands,NaN
37,North West Leicestershire,East Midlands,NaN
38,Northampton,East Midlands,NaN
39,Northamptonshire,East Midlands,NaN
40,Nottingham,East Midlands,NaN
41,Nottinghamshire,East Midlands,NaN
42,Nottinghamshire,East Midlands,NaN
43,Oadby and Wigston,East Midlands,NaN
44,Rushcliffe,East Midlands,NaN
45,Rutland,East Midlands,NaN
46,South Derbyshire,East Midlands,NaN
47,South Holland,East Midlands,NaN
48,South Kesteven,East Midlands,NaN
49,South Northamptonshire,East Midlands,NaN
50,Wellingborough,East Midlands,NaN
51,West Lindsey,East Midlands,NaN
52,Babergh,East of England,NaN
53,Basildon,East of England,NaN
54,Bedford,East of England,NaN
55,Bedford Borough,East of England,NaN
56,Bedfordshire,East of England,NaN
57,Braintree,East of England,NaN
58,Breckland,East of England,NaN
59,Brentwood,East of England,NaN
60,Broadland,East of England,NaN
61,Broxbourne,East of England,NaN
62,Cambridge,East of England,NaN
63,Cambridgeshire,East of England,NaN
64,Cambridgeshire,East of England,NaN
65,Castle Point,East of England,NaN
66,Central Bedfordshire,East of England,NaN
67,Chelmsford,East of England,NaN
68,Colchester,East of England,NaN
69,Dacorum,East of England,NaN
70,East Cambridgeshire,East of England,NaN
71,East Hertfordshire,East of England,NaN
72,Epping Forest,East of England,NaN
73,Essex,East of England,NaN
74,Essex,East of England,NaN
75,Fenland,East of England,NaN
76,Forest Heath,East of England,NaN
77,Great Yarmouth,East of England,NaN
78,Harlow,East of England,NaN
79,Hertfordshire,East of England,NaN
80,Hertsmere,East of England,NaN
81,Huntingdonshire,East of England,NaN
82,Ipswich,East of England,NaN
83,King's Lynn and West Norfolk,East of England,NaN
84,Luton,East of England,NaN
85,Maldon,East of England,NaN
86,Mid Suffolk,East of England,NaN
87,Norfolk,East of England,NaN
88,North Hertfordshire,East of England,NaN
89,North Norfolk,East of England,NaN
90,Norwich,East of England,NaN
91,Peterborough,East of England,NaN
92,Rochford,East of England,NaN
93,South Cambridgeshire,East of England,NaN
94,South Norfolk,East of England,NaN
95,Southend-on-Sea,East of England,NaN
96,St Albans,East of England,NaN
97,St. Edmundsbury,East of England,NaN
98,Stevenage,East of England,NaN
99,Suffolk,East of England,NaN
100,Suffolk Coastal,East of England,NaN
101,Tendring,East of England,NaN
102,Three Rivers,East of England,NaN
103,Thurrock,East of England,NaN
104,Uttlesford,East of England,NaN
105,Watford,East of England,NaN
106,Waveney,East of England,NaN
107,Welwyn Hatfield,East of England,NaN
108,Barking and Dagenham,London,NaN
109,Barnet,London,NaN
110,Bexley,London,NaN
111,Brent,London,NaN
112,Bromley,London,NaN
113,Camden,London,NaN
114,City of London,London,NaN
115,City of London,London,NaN
116,City of Westminster,London,NaN
117,Croydon,London,NaN
118,Ealing,London,NaN
119,Enfield,London,NaN
120,Greater London,London,NaN
121,Greenwich,London,NaN
122,Hackney,London,NaN
123,Hammersmith and Fulham,London,NaN
124,Haringey,London,NaN
125,Harrow,London,NaN
126,Havering,London,NaN
127,Hillingdon,London,NaN
128,Hounslow,London,NaN
129,Islington,London,NaN
130,Kensington and Chelsea,London,NaN
131,Kingston upon Thames,London,NaN
132,Lambeth,London,NaN
133,Lewisham,London,NaN
134,Merton,London,NaN
135,Newham,London,NaN
136,Redbridge,London,NaN
137,Richmond,London,NaN
138,Southwark,London,NaN
139,Sutton,London,NaN
140,Tower Hamlets,London,NaN
141,Waltham Forest,London,NaN
142,Wandsworth,London,NaN
143,Westminster,London,NaN
144,County Durham,North East England,NaN
145,Darlington,North East England,NaN
146,Durham,North East England,NaN
147,Durham,North East England,NaN
148,Gateshead,North East England,NaN
149,Hartlepool,North East England,NaN
150,Middlesbrough,North East England,NaN
151,Newcastle Upon Tyne,North East England,NaN
152,North Tyneside,North East England,NaN
153,North Yorkshire,North East England,NaN
154,Northumberland,North East England,NaN
155,Redcar and Cleveland,North East England,NaN
156,South Tyneside,North East England,NaN
157,Stockton-on-Tees,North East England,NaN
158,Sunderland,North East England,NaN
159,Tyne and Wear,North East England,NaN
160,Allerdale,North West England,NaN
161,Barrow-in-Furness,North West England,NaN
162,Blackburn with Darwen,North West England,NaN
163,Blackpool,North West England,NaN
164,Bolton,North West England,NaN
165,Burnley,North West England,NaN
166,Bury,North West England,NaN
167,Carlisle,North West England,NaN
168,Cheshire,North West England,NaN
169,Cheshire East,North West England,NaN
170,Cheshire West and Chester,North West England,NaN
171,Chorley,North West England,NaN
172,Copeland,North West England,NaN
173,Cumbria,North West England,NaN
174,Eden,North West England,NaN
175,Fylde,North West England,NaN
176,Greater Manchester,North West England,NaN
177,Halton,North West England,NaN
178,Hyndburn,North West England,NaN
179,Knowsley,North West England,NaN
180,Lancashire,North West England,NaN
181,Lancashire,North West England,NaN
182,Lancaster,North West England,NaN
183,Liverpool,North West England,NaN
184,Manchester,North West England,NaN
185,Merseyside,North West England,NaN
186,Oldham,North West England,NaN
187,Pendle,North West England,NaN
188,Preston,North West England,NaN
189,Ribble Valley,North West England,NaN
190,Rochdale,North West England,NaN
191,Rossendale,North West England,NaN
192,Salford,North West England,NaN
193,Sefton,North West England,NaN
194,South Lakeland,North West England,NaN
195,South Ribble,North West England,NaN
196,St Helens,North West England,NaN
197,St. Helens,North West England,NaN
198,Stockport,North West England,NaN
199,Tameside,North West England,NaN
200,Trafford,North West England,NaN
201,Warrington,North West England,NaN
202,West Lancashire,North West England,NaN
203,Wigan,North West England,NaN
204,Wirral,North West England,NaN
205,Wyre,North West England,NaN
206,Antrim,Northern Ireland,NaN
207,Ards,Northern Ireland,NaN
208,Armagh,Northern Ireland,NaN
209,Ballymena,Northern Ireland,NaN
210,Ballymoney,Northern Ireland,NaN
211,Banbridge,Northern Ireland,NaN
212,Belfast,Northern Ireland,NaN
213,Carrickfergus,Northern Ireland,NaN
214,Castlereagh,Northern Ireland,NaN
215,Coleraine,Northern Ireland,NaN
216,Cookstown,Northern Ireland,NaN
217,County Armagh,Northern Ireland,NaN
218,County Fermanagh,Northern Ireland,NaN
219,Craigavon,Northern Ireland,NaN
220,Derry,Northern Ireland,NaN
221,Down,Northern Ireland,NaN
222,Dungannon,Northern Ireland,NaN
223,Fermanagh,Northern Ireland,NaN
224,Larne,Northern Ireland,NaN
225,Limavady,Northern Ireland,NaN
226,Lisburn,Northern Ireland,NaN
227,Magherafelt,Northern Ireland,NaN
228,Moyle,Northern Ireland,NaN
229,Newry and Mourne,Northern Ireland,NaN
230,Newry and Mourne,Northern Ireland,NaN
231,Newtownabbey,Northern Ireland,NaN
232,North Down,Northern Ireland,NaN
233,Omagh,Northern Ireland,NaN
234,South Tyrone,Northern Ireland,NaN
235,Strabane,Northern Ireland,NaN
236,Aberdeen City,Scotland,NaN
237,Aberdeenshire,Scotland,NaN
238,Angus,Scotland,NaN
239,Argyll and Bute,Scotland,NaN
240,Argyllshire,Scotland,NaN
241,Ayrshire,Scotland,NaN
242,Banffshire,Scotland,NaN
243,Berwickshire,Scotland,NaN
244,Bute,Scotland,NaN
245,Caithness,Scotland,NaN
246,City of Edinburgh,Scotland,NaN
247,Clackmannanshire,Scotland,NaN
248,Dumfries and Galloway,Scotland,NaN
249,Dumfriesshire,Scotland,NaN
250,Dunbartonshire,Scotland,NaN
251,Dundee City,Scotland,NaN
252,East Ayrshire,Scotland,NaN
253,East Dunbartonshire,Scotland,NaN
254,East Lothian,Scotland,NaN
255,East Renfrewshire,Scotland,NaN
256,Edinburgh City,Scotland,NaN
257,Eilean Siar,Scotland,NaN
258,Falkirk,Scotland,NaN
259,Fife,Scotland,NaN
260,Glasgow City,Scotland,NaN
261,Highland,Scotland,NaN
262,Inverclyde,Scotland,NaN
263,Inverness-shire,Scotland,NaN
264,Kincardineshire,Scotland,NaN
265,Kinross-shire,Scotland,NaN
266,Kirkcudbrightshire,Scotland,NaN
267,Lanarkshire,Scotland,NaN
268,Midlothian,Scotland,NaN
269,Moray,Scotland,NaN
270,Nairnshire,Scotland,NaN
271,North Ayrshire,Scotland,NaN
272,North Lanarkshire,Scotland,NaN
273,Orkney,Scotland,NaN
274,Orkney Islands,Scotland,NaN
275,Peeblesshire,Scotland,NaN
276,Perth and Kinross,Scotland,NaN
277,Perthshire,Scotland,NaN
278,Renfrewshire,Scotland,NaN
279,Ross and Cromarty,Scotland,NaN
280,Roxburghshire,Scotland,NaN
281,Selkirkshire,Scotland,NaN
282,Shetland Islands,Scotland,NaN
283,South Ayrshire,Scotland,NaN
284,South Lanarkshire,Scotland,NaN
285,South Lanarkshire,Scotland,NaN
286,Stirling,Scotland,NaN
287,Stirlingshire,Scotland,NaN
288,Sutherland,Scotland,NaN
289,The Scottish Borders,Scotland,NaN
290,West Ayrshire,Scotland,NaN
291,West Dunbartonshire,Scotland,NaN
292,West Lothian,Scotland,NaN
293,Wigtownshire,Scotland,NaN
294,Zetland,Scotland,NaN
295,Adur,South East England,NaN
296,Arun,South East England,NaN
297,Ashford,South East England,NaN
298,Aylesbury Vale,South East England,NaN
299,Basingstoke and Deane,South East England,NaN
300,Berkshire,South East England,NaN
301,Bracknell Forest,South East England,NaN
302,Brighton and Hove,South East England,NaN
303,Buckinghamshire,South East England,NaN
304,Buckinghamshire,South East England,NaN
305,Canterbury,South East England,NaN
306,Cherwell,South East England,NaN
307,Chichester,South East England,NaN
308,Chiltern,South East England,NaN
309,Crawley,South East England,NaN
310,Dartford,South East England,NaN
311,Dover,South East England,NaN
312,East Hampshire,South East England,NaN
313,East Sussex,South East England,NaN
314,East Sussex,South East England,NaN
315,Eastbourne,South East England,NaN
316,Eastleigh,South East England,NaN
317,Elmbridge,South East England,NaN
318,Epsom and Ewell,South East England,NaN
319,Fareham,South East England,NaN
320,Gosport,South East England,NaN
321,Gravesham,South East England,NaN
322,Guildford,South East England,NaN
323,Hampshire,South East England,NaN
324,Hampshire,South East England,NaN
325,Hart,South East England,NaN
326,Hastings,South East England,NaN
327,Havant,South East England,NaN
328,Horsham,South East England,NaN
329,Isle of Wight,South East England,NaN
330,Kent,South East England,NaN
331,Kent,South East England,NaN
332,Lewes,South East England,NaN
333,Maidstone,South East England,NaN
334,Medway,South East England,NaN
335,Mid Sussex,South East England,NaN
336,Milton Keynes,South East England,NaN
337,Mole Valley,South East England,NaN
338,New Forest,South East England,NaN
339,Oxford,South East England,NaN
340,Oxfordshire,South East England,NaN
341,Portsmouth,South East England,NaN
342,Reading,South East England,NaN
343,Reigate and Banstead,South East England,NaN
344,Rother,South East England,NaN
345,Runnymede,South East England,NaN
346,Rushmoor,South East England,NaN
347,Sevenoaks,South East England,NaN
348,Shepway,South East England,NaN
349,Slough,South East England,NaN
350,South Bucks,South East England,NaN
351,South Oxfordshire,South East England,NaN
352,Southampton,South East England,NaN
353,Spelthorne,South East England,NaN
354,Surrey,South East England,NaN
355,Surrey Heath,South East England,NaN
356,Swale,South East England,NaN
357,Tandridge,South East England,NaN
358,Test Valley,South East England,NaN
359,Thanet,South East England,NaN
360,Tonbridge and Malling,South East England,NaN
361,Tunbridge Wells,South East England,NaN
362,Vale of White Horse,South East England,NaN
363,Waverley,South East England,NaN
364,Wealden,South East England,NaN
365,West Berkshire,South East England,NaN
366,West Oxfordshire,South East England,NaN
367,West Sussex,South East England,NaN
368,Winchester,South East England,NaN
369,Windsor and Maidenhead,South East England,NaN
370,Woking,South East England,NaN
371,Wokingham,South East England,NaN
372,Worthing,South East England,NaN
373,Wycombe,South East England,NaN
374,Bath and North East Somerset,South West England,NaN
375,Bournemouth,South West England,NaN
376,Bristol,South West England,NaN
377,Cheltenham,South West England,NaN
378,Christchurch,South West England,NaN
379,City of Bristol,South West England,NaN
380,Cornwall,South West England,NaN
381,Cornwall,South West England,NaN
382,Cotswold,South West England,NaN
383,Devon,South West England,NaN
384,Devon,South West England,NaN
385,Dorset,South West England,NaN
386,Dorset,South West England,NaN
387,East Devon,South West England,NaN
388,East Dorset,South West England,NaN
389,Exeter,South West England,NaN
390,Forest of Dean,South West England,NaN
391,Gloucester,South West England,NaN
392,Gloucestershire,South West England,NaN
393,Gloucestershire,South West England,NaN
394,Isles of Scilly,South West England,NaN
395,Mendip,South West England,NaN
396,Mid Devon,South West England,NaN
397,North Devon,South West England,NaN
398,North Dorset,South West England,NaN
399,North Somerset,South West England,NaN
400,Plymouth,South West England,NaN
401,Poole,South West England,NaN
402,Purbeck,South West England,NaN
403,Sedgemoor,South West England,NaN
404,Somerset,South West England,NaN
405,Somerset,South West England,NaN
406,South Gloucestershire,South West England,NaN
407,South Hams,South West England,NaN
408,South Somerset,South West England,NaN
409,Stroud,South West England,NaN
410,Swindon,South West England,NaN
411,Taunton Deane,South West England,NaN
412,Teignbridge,South West England,NaN
413,Tewkesbury,South West England,NaN
414,Torbay,South West England,NaN
415,Torridge,South West England,NaN
416,West Devon,South West England,NaN
417,West Dorset,South West England,NaN
418,West Somerset,South West England,NaN
419,Weymouth and Portland,South West England,NaN
420,Wiltshire,South West England,NaN
421,Wiltshire,South West England,NaN
422,Aberdare,Wales,NaN
423,Bargoed,Wales,NaN
424,Barry,Wales,NaN
425,Blaenau Gwent,Wales,NaN
426,Bridgend,Wales,NaN
427,Caerphilly,Wales,NaN
428,Cardiff,Wales,NaN
429,Carmarthenshire,Wales,NaN
430,Ceredigion,Wales,NaN
431,Conwy,Wales,NaN
432,Cowbridge,Wales,NaN
433,Denbighshire,Wales,NaN
434,Dinas Powys,Wales,NaN
435,Ferndale,Wales,NaN
436,Flintshire,Wales,NaN
437,Gwynedd,Wales,NaN
438,Hengoed,Wales,NaN
439,Isle of Anglesey,Wales,NaN
440,Llantwit Major,Wales,NaN
441,Maesteg,Wales,NaN
442,Merthyr Tydfil,Wales,NaN
443,Monmouthshire,Wales,NaN
444,Monmouthshire,Wales,NaN
445,Mountain Ash,Wales,NaN
446,Neath Port Talbot,Wales,NaN
447,Newport,Wales,NaN
448,Newport,Wales,NaN
449,Pembrokeshire,Wales,NaN
450,Penarth,Wales,NaN
451,Pentre,Wales,NaN
452,Pontyclun,Wales,NaN
453,Pontypridd,Wales,NaN
454,Porth,Wales,NaN
455,Porthcawl,Wales,NaN
456,Powys,Wales,NaN
457,Rhondda Cynon Taff,Wales,NaN
458,Rhoose,Wales,NaN
459,Sully,Wales,NaN
460,Swansea,Wales,NaN
461,The Vale of Glamorgan,Wales,NaN
462,Tonypandy,Wales,NaN
463,Torfaen,Wales,NaN
464,Treharris,Wales,NaN
465,Treorchy,Wales,NaN
466,Wrexham,Wales,NaN
467,Birmingham,West Midlands,NaN
468,Bromsgrove,West Midlands,NaN
469,Cannock Chase,West Midlands,NaN
470,Coventry,West Midlands,NaN
471,Dudley,West Midlands,NaN
472,East Staffordshire,West Midlands,NaN
473,Herefordshire,West Midlands,NaN
474,Lichfield,West Midlands,NaN
475,Malvern Hills,West Midlands,NaN
476,Newcastle-under-Lyme,West Midlands,NaN
477,North Warwickshire,West Midlands,NaN
478,Nuneaton and Bedworth,West Midlands,NaN
479,Redditch,West Midlands,NaN
480,Rugby,West Midlands,NaN
481,Sandwell,West Midlands,NaN
482,Shropshire,West Midlands,NaN
483,Shropshire,West Midlands,NaN
484,Solihull,West Midlands,NaN
485,South Staffordshire,West Midlands,NaN
486,Stafford,West Midlands,NaN
487,Staffordshire,West Midlands,NaN
488,Staffordshire,West Midlands,NaN
489,Staffordshire Moorlands,West Midlands,NaN
490,Stoke-on-Trent,West Midlands,NaN
491,Stratford-on-Avon,West Midlands,NaN
492,Tamworth,West Midlands,NaN
493,Telford and Wrekin,West Midlands,NaN
494,Walsall,West Midlands,NaN
495,Warwick,West Midlands,NaN
496,Warwickshire,West Midlands,NaN
497,West Midlands,West Midlands,NaN
498,Wolverhampton,West Midlands,NaN
499,Worcester,West Midlands,NaN
500,Worcestershire,West Midlands,NaN
501,Wychavon,West Midlands,NaN
502,Wyre Forest,West Midlands,NaN
503,Barnsley,Yorkshire and the Humber,NaN
504,Bradford,Yorkshire and the Humber,NaN
505,Calderdale,Yorkshire and the Humber,NaN
506,City of Kingston-upon-Hull,Yorkshire and the Humber,NaN
507,Craven,Yorkshire and the Humber,NaN
508,Doncaster,Yorkshire and the Humber,NaN
509,East Riding of Yorkshire,Yorkshire and the Humber,NaN
510,East Riding of Yorkshire,Yorkshire and the Humber,NaN
511,Hambleton,Yorkshire and the Humber,NaN
512,Harrogate,Yorkshire and the Humber,NaN
513,Kingston upon Hull,Yorkshire and the Humber,NaN
514,Kirklees,Yorkshire and the Humber,NaN
515,Leeds,Yorkshire and the Humber,NaN
516,Lincolnshire,Yorkshire and the Humber,NaN
517,North East Lincolnshire,Yorkshire and the Humber,NaN
518,North Lincolnshire,Yorkshire and the Humber,NaN
519,North Yorkshire,Yorkshire and the Humber,NaN
520,North Yorkshire,Yorkshire and the Humber,NaN
521,Richmondshire,Yorkshire and the Humber,NaN
522,Rotherham,Yorkshire and the Humber,NaN
523,Ryedale,Yorkshire and the Humber,NaN
524,Scarborough,Yorkshire and the Humber,NaN
525,Selby,Yorkshire and the Humber,NaN
526,Sheffield,Yorkshire and the Humber,NaN
527,South Yorkshire,Yorkshire and the Humber,NaN
528,Wakefield,Yorkshire and the Humber,NaN
529,West Yorkshire,Yorkshire and the Humber,NaN
530,York,Yorkshire and the Humber,NaN
0,London,NaN,81.97
1,Brighton,NaN,65.99
2,Oxford,NaN,65.56
3,Guildford,NaN,65.36
4,Reading,NaN,62.88
5,Cambridge,NaN,62.24
6,Bristol,NaN,58.63
7,Edinburgh,NaN,58.44
8,Milton Keynes,NaN,56.72
9,York,NaN,56.68
10,Manchester,NaN,56.28
11,Portsmouth,NaN,54.63
12,Southampton,NaN,53.82
13,Coventry,NaN,52.67
14,Exeter,NaN,52.66
15,Birmingham,NaN,52.49
16,Aberdeen,NaN,51.87
17,Nottingham,NaN,51.34
18,Leeds,NaN,51.07
19,Glasgow,NaN,50.94
20,Cardiff,NaN,50.64
21,Plymouth,NaN,50.61
22,Liverpool,NaN,49.98
23,Swansea,NaN,49.39
24,Derby,NaN,49.29
25,Sheffield,NaN,48.47
26,Belfast,NaN,48.23
27,Newcastle upon Tyne,NaN,47.69
28,Dundee,NaN,47.55
29,Leicester,NaN,47.16
30,Kingston upon Hull,NaN,46.08
31,Stoke-on-Trent,NaN,44.71

In [859]:
m=hamada[hamada['County']=='Oxford'].index
hamada.loc[m,'Cost of Living Plus Rent Index']=65.56

In [861]:
hamada[hamada['County']=='Leicester'].index
hamada.loc[m,'Cost of Living Plus Rent Index']=47.16

In [898]:
Ser=Uk_country.iloc[:,:-1]
Ser_1=Uk_country.iloc[:,1:]
Ser.iloc[0]

County    London
Name: 0, dtype: object

In [899]:
for i in hamada.County:
    try:
        hamada[hamada['County']==Ser.iloc[i]].index
    except:
         print('NaN')

NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN