In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Automobile_data.csv")

In [3]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [4]:
df.replace("?",np.nan,inplace=True)

In [5]:
df[df["num-of-doors"].isnull()].index.tolist()

[27, 63]

In [6]:
df["num-of-doors"][27]=np.nan

C:\Users\dell\AppData\Local\Temp\ipykernel_2968\840587816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["num-of-doors"][27]=np.nan

In [7]:
type(df["num-of-doors"][27])

float

In [8]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [10]:
pd.options.display.max_columns=None

In [11]:
df["normalized-losses"].median()

115.0

In [12]:
df["normalized-losses"].fillna(df['normalized-losses'].median(),inplace=True)

In [13]:
df['normalized-losses']=df['normalized-losses'].astype(int)

In [14]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,115,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,115,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,six,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [15]:
d=df[df['body-style']=="sedan"]
d['num-of-doors'].value_counts()

four    79
two     15
Name: num-of-doors, dtype: int64

In [16]:
df['num-of-doors']=df['num-of-doors'].replace({"four":4,"two":2,np.nan:0})

In [17]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

In [18]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

In [19]:
df["num-of-doors"].unique()

array([2., 4., 0.])

In [20]:
df["bore"]=df["bore"].replace({np.nan:0})
df['stroke']=df["stroke"].replace({np.nan:0})

In [21]:
pd.options.display.max_rows=None

In [22]:
df[["normalized-losses","num-of-doors","aspiration"]]
pd.options.display.max_rows=10

In [23]:
df[df['num-of-doors']==4][["num-of-doors",'aspiration']]

     num-of-doors aspiration
3             4.0        std
4             4.0        std
6             4.0        std
7             4.0        std
8             4.0      turbo
..            ...        ...
200           4.0        std
201           4.0      turbo
202           4.0        std
203           4.0      turbo
204           4.0      turbo

[114 rows x 2 columns]

In [24]:
std=df[(df['num-of-doors']==4)&(df['aspiration']=="std")]
std['normalized-losses'].value_counts()

115    19
91      8
103     4
94      4
65      4
       ..
78      1
77      1
188     1
90      1
192     1
Name: normalized-losses, Length: 32, dtype: int64

In [25]:
df[df['num-of-doors']==0]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
27,1,148,dodge,gas,turbo,0.0,sedan,fwd,front,93.7,157.3,63.8,50.6,2191,ohc,four,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
63,0,115,mazda,diesel,std,0.0,sedan,fwd,front,98.8,177.8,66.5,55.5,2443,ohc,four,122,idi,3.39,3.39,22.7,64,4650,36,42,10795

In [26]:
df[df["normalized-losses"]==148]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
24,1,148,dodge,gas,std,4.0,hatchback,fwd,front,93.7,157.3,63.8,50.6,1967,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6229
25,1,148,dodge,gas,std,4.0,sedan,fwd,front,93.7,157.3,63.8,50.6,1989,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
26,1,148,dodge,gas,std,4.0,sedan,fwd,front,93.7,157.3,63.8,50.6,1989,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
27,1,148,dodge,gas,turbo,0.0,sedan,fwd,front,93.7,157.3,63.8,50.6,2191,ohc,four,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558

In [27]:
df['num-of-doors']

0      2.0
1      2.0
2      2.0
3      4.0
4      4.0
      ...
200    4.0
201    4.0
202    4.0
203    4.0
204    4.0
Name: num-of-doors, Length: 205, dtype: float64

In [28]:
df[(df["normalized-losses"]==115)&(df['fuel-type']=="diesel")]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
63,0,115,mazda,diesel,std,0.0,sedan,fwd,front,98.8,177.8,66.5,55.5,2443,ohc,four,122,idi,3.39,3.39,22.7,64,4650,36,42,10795
66,0,115,mazda,diesel,std,4.0,sedan,rwd,front,104.9,175.0,66.1,54.4,2700,ohc,four,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
110,0,115,peugot,diesel,turbo,4.0,wagon,rwd,front,114.2,198.9,68.4,58.7,3430,l,four,152,idi,3.7,3.52,21.0,95,4150,25,25,13860
114,0,115,peugot,diesel,turbo,4.0,wagon,rwd,front,114.2,198.9,68.4,58.7,3485,l,four,152,idi,3.7,3.52,21.0,95,4150,25,25,17075
192,0,115,volkswagen,diesel,turbo,4.0,sedan,fwd,front,100.4,180.2,66.9,55.1,2579,ohc,four,97,idi,3.01,3.4,23.0,68,4500,33,38,13845

In [29]:
df['num-of-doors']=df['num-of-doors'].replace({0:4})

In [30]:
df["num-of-doors"]=df["num-of-doors"].astype(int)

In [31]:
df["bore"].replace(np.nan,0)
df["stroke"].replace(np.nan,0)

0      2.68
1      2.68
2      3.47
3       3.4
4       3.4
       ...
200    3.15
201    3.15
202    2.87
203     3.4
204    3.15
Name: stroke, Length: 205, dtype: object

In [32]:
df['num-of-cylinders']=df['num-of-cylinders'].replace({"four":4,"five":5,"six":6,"eight":8,"two":2,"three":3,"twelve":11})

In [33]:
df['num-of-cylinders'].value_counts()

4     159
6      24
5      11
8       5
2       4
3       1
11      1
Name: num-of-cylinders, dtype: int64

In [34]:
import math as ma

In [35]:
(ma.pi/4)*3.47**2*2.68*4

101.37797599339304

In [36]:
3.47**2

12.0409

In [37]:
df['bore']=df['bore'].astype(float)
df['stroke']=df['stroke'].astype(float)
df['num-of-cylinders']=df['num-of-cylinders'].astype(float)

In [38]:
Ser=df["bore"]
Ser_5=df["bore"].pow(2,level=2,axis=0,fill_value=0)

In [39]:
Ser_1=df['stroke']
Ser_1

0      2.68
1      2.68
2      3.47
3      3.40
4      3.40
       ...
200    3.15
201    3.15
202    2.87
203    3.40
204    3.15
Name: stroke, Length: 205, dtype: float64

In [40]:
Ser_3=df['num-of-cylinders']
91.53562

91.53562

In [41]:
df["Displacement_cu.in."]=(ma.pi/4)*Ser_5*Ser_1*Ser_3

In [42]:
df[df['Displacement_cu.in.']==0]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
55,3,150,mazda,gas,std,2,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,2.0,70,4bbl,0.0,0.0,9.4,101,6000,17,23,10945,0.0
56,3,150,mazda,gas,std,2,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,2.0,70,4bbl,0.0,0.0,9.4,101,6000,17,23,11845,0.0
57,3,150,mazda,gas,std,2,hatchback,rwd,front,95.3,169.0,65.7,49.6,2385,rotor,2.0,70,4bbl,0.0,0.0,9.4,101,6000,17,23,13645,0.0
58,3,150,mazda,gas,std,2,hatchback,rwd,front,95.3,169.0,65.7,49.6,2500,rotor,2.0,80,mpfi,0.0,0.0,9.4,135,6000,16,23,15645,0.0

In [43]:

91.53562

91.53562

In [44]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
0,3,115,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4.0,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,101.377976
1,3,115,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4.0,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,101.377976
2,1,115,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6.0,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,117.446531
3,2,164,audi,gas,std,4,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4.0,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,108.695147
4,2,164,audi,gas,std,4,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,5.0,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,135.868934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,4.0,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,141.398247
201,-1,95,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,4.0,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,141.398247
202,-1,95,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,6.0,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,173.336124
203,-1,95,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,6.0,145,idi,3.01,3.40,23.0,106,4800,26,27,22470,145.162032
204,-1,95,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,4.0,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,141.398247

In [45]:
df['bore']=df["bore"].replace({0:2.23 })

In [96]:
Ser=df[df['Displacement_cu.in.']==0]["Displacement_cu.in."].index

In [98]:
df.loc[Ser,'Displacement_cu.in.']=91.53562

In [104]:
# S = 4D/(πB²N).
df[df["stroke"]==0]
# S=3.906
Ser=df[df['stroke']==0]["stroke"].index
df.loc[Ser,'Displacement_cu.in.']=3.906

In [47]:
# 1985 Mazda RX-7(SA)
# 1985

In [48]:
df["aspiration"].value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [49]:
df['stroke'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0      2.68
1      2.68
2      3.47
3      3.40
4      3.40
       ...
200    3.15
201    3.15
202    2.87
203    3.40
204    3.15
Name: stroke, Length: 205, dtype: float64>

In [50]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
0,3,115,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4.0,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,101.377976
1,3,115,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4.0,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,101.377976
2,1,115,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6.0,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,117.446531
3,2,164,audi,gas,std,4,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4.0,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,108.695147
4,2,164,audi,gas,std,4,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,5.0,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,135.868934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,4.0,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,141.398247
201,-1,95,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,4.0,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,141.398247
202,-1,95,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,6.0,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,173.336124
203,-1,95,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,6.0,145,idi,3.01,3.40,23.0,106,4800,26,27,22470,145.162032
204,-1,95,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,4.0,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,141.398247

In [51]:
X=df.drop("price",axis=1)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            205 non-null    int64
 1   normalized-losses    205 non-null    int32
 2   make                 205 non-null    object
 3   fuel-type            205 non-null    object
 4   aspiration           205 non-null    object
 5   num-of-doors         205 non-null    int32
 6   body-style           205 non-null    object
 7   drive-wheels         205 non-null    object
 8   engine-location      205 non-null    object
 9   wheel-base           205 non-null    float64
 10  length               205 non-null    float64
 11  width                205 non-null    float64
 12  height               205 non-null    float64
 13  curb-weight          205 non-null    int64
 14  engine-type          205 non-null    object
 15  num-of-cylinders     205 non-null    float64
 16  engine-size          205 non-null    int64
 17  fuel-system          205 non-null    object
 18  bore                 205 non-null    float64
 19  stroke               205 non-null    float64
 20  compression-ratio    205 non-null    float64
 21  horsepower           203 non-null    object
 22  peak-rpm             203 non-null    object
 23  city-mpg             205 non-null    int64
 24  highway-mpg          205 non-null    int64
 25  price                201 non-null    object
 26  Displacement_cu.in.  205 non-null    float64
dtypes: float64(9), int32(2), int64(5), object(11)
memory usage: 41.8+ KB

In [53]:
pd.options.display.max_rows=None
df.isnull().sum()
pd.options.display.max_rows=10

In [54]:
df[df["peak-rpm"].isnull().tolist()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
130,0,115,renault,gas,std,4,wagon,fwd,front,96.1,181.5,66.5,55.2,2579,ohc,4.0,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9295,146.678573
131,2,115,renault,gas,std,2,hatchback,fwd,front,96.1,176.8,66.6,50.5,2460,ohc,4.0,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9895,146.678573

In [55]:
# 1985 Renault Sportwagon
df['horsepower']=df['horsepower'].astype(float)

In [56]:
df.loc[130,"horsepower"]=131.6

In [57]:
df[df["peak-rpm"].isnull().tolist()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
130,0,115,renault,gas,std,4,wagon,fwd,front,96.1,181.5,66.5,55.2,2579,ohc,4.0,132,mpfi,3.46,3.9,8.7,131.6,NaN,23,31,9295,146.678573
131,2,115,renault,gas,std,2,hatchback,fwd,front,96.1,176.8,66.6,50.5,2460,ohc,4.0,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9895,146.678573

In [58]:
# 1985 Renault Fuego 2.2 Litre Automatic
#  5,700

In [59]:
df.loc[131,"horsepower"]=131.6

In [60]:
df[df["peak-rpm"].isnull().tolist()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
130,0,115,renault,gas,std,4,wagon,fwd,front,96.1,181.5,66.5,55.2,2579,ohc,4.0,132,mpfi,3.46,3.9,8.7,131.6,NaN,23,31,9295,146.678573
131,2,115,renault,gas,std,2,hatchback,fwd,front,96.1,176.8,66.6,50.5,2460,ohc,4.0,132,mpfi,3.46,3.9,8.7,131.6,NaN,23,31,9895,146.678573

In [61]:
# the max rpm due 
df.loc[130,"peak-rpm"]=4700

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            205 non-null    int64
 1   normalized-losses    205 non-null    int32
 2   make                 205 non-null    object
 3   fuel-type            205 non-null    object
 4   aspiration           205 non-null    object
 5   num-of-doors         205 non-null    int32
 6   body-style           205 non-null    object
 7   drive-wheels         205 non-null    object
 8   engine-location      205 non-null    object
 9   wheel-base           205 non-null    float64
 10  length               205 non-null    float64
 11  width                205 non-null    float64
 12  height               205 non-null    float64
 13  curb-weight          205 non-null    int64
 14  engine-type          205 non-null    object
 15  num-of-cylinders     205 non-null    float64
 16  engine-size          205 non-null    int64
 17  fuel-system          205 non-null    object
 18  bore                 205 non-null    float64
 19  stroke               205 non-null    float64
 20  compression-ratio    205 non-null    float64
 21  horsepower           205 non-null    float64
 22  peak-rpm             204 non-null    object
 23  city-mpg             205 non-null    int64
 24  highway-mpg          205 non-null    int64
 25  price                201 non-null    object
 26  Displacement_cu.in.  205 non-null    float64
dtypes: float64(10), int32(2), int64(5), object(10)
memory usage: 41.8+ KB

In [63]:
df["price"]=df["price"].astype(float)

In [64]:
df[df["price"].isnull().tolist()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
9,0,115,audi,gas,turbo,2,hatchback,4wd,front,99.5,178.2,67.9,52.0,3053,ohc,5.0,131,mpfi,3.13,3.40,7.0,160.0,5500,16,22,NaN,130.805944
44,1,115,isuzu,gas,std,2,sedan,fwd,front,94.5,155.9,63.6,52.0,1874,ohc,4.0,90,2bbl,3.03,3.11,9.6,70.0,5400,38,43,NaN,89.700635
45,0,115,isuzu,gas,std,4,sedan,fwd,front,94.5,155.9,63.6,52.0,1909,ohc,4.0,90,2bbl,3.03,3.11,9.6,70.0,5400,38,43,NaN,89.700635
129,1,115,porsche,gas,std,2,hatchback,rwd,front,98.4,175.7,72.3,50.5,3366,dohcv,8.0,203,mpfi,3.94,3.11,10.0,288.0,5750,17,28,NaN,303.342108

In [65]:
df.loc[9,"price"]=80000

In [66]:
df[df["price"].isnull().tolist()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
44,1,115,isuzu,gas,std,2,sedan,fwd,front,94.5,155.9,63.6,52.0,1874,ohc,4.0,90,2bbl,3.03,3.11,9.6,70.0,5400,38,43,NaN,89.700635
45,0,115,isuzu,gas,std,4,sedan,fwd,front,94.5,155.9,63.6,52.0,1909,ohc,4.0,90,2bbl,3.03,3.11,9.6,70.0,5400,38,43,NaN,89.700635
129,1,115,porsche,gas,std,2,hatchback,rwd,front,98.4,175.7,72.3,50.5,3366,dohcv,8.0,203,mpfi,3.94,3.11,10.0,288.0,5750,17,28,NaN,303.342108

In [67]:
pd.options.display.max_rows=None
gr=df.groupby(["make","normalized-losses","num-of-cylinders"])["price"]
gr.median()

make           normalized-losses  num-of-cylinders
alfa-romero    115                4.0                 14997.5
                                  6.0                 16500.0
audi           115                5.0                 18920.0
               158                5.0                 20792.5
               164                4.0                 13950.0
                                  5.0                 17450.0
bmw            115                6.0                 33820.0
               188                6.0                 21037.5
               192                4.0                 16677.5
chevrolet      81                 4.0                  6575.0
               98                 4.0                  6295.0
               121                3.0                  5151.0
dodge          110                4.0                  8921.0
               118                4.0                  6377.0
               145                4.0                 12964.0
               148                4.0                  7150.5
honda          78                 4.0                  7295.0
               85                 4.0                 10295.0
               101                4.0                  6529.0
               106                4.0                  8495.0
               107                4.0                 10345.0
               110                4.0                  7295.0
               137                4.0                  6667.0
isuzu          115                4.0                  8916.5
jaguar         115                6.0                 35550.0
                                  11.0                36000.0
               145                6.0                 32250.0
mazda          104                4.0                  6095.0
               113                4.0                  7045.0
               115                4.0                 10795.0
               118                4.0                 18280.0
               129                4.0                  9720.0
               150                2.0                 12745.0
mercedes-benz  93                 5.0                 28212.0
               115                8.0                 40960.0
               142                8.0                 35056.0
mercury        115                4.0                 16503.0
mitsubishi     115                4.0                 14489.0
               125                4.0                  8189.0
               137                4.0                  9279.0
               153                4.0                  9229.0
               161                4.0                  6429.0
nissan         103                4.0                  7674.0
               106                4.0                  9249.0
               108                6.0                 13949.0
               122                4.0                  7174.0
               128                4.0                  7099.0
                                  6.0                 13499.0
               168                4.0                  8249.0
               194                6.0                 18449.0
               231                6.0                 18399.0
peugot         115                4.0                 15277.5
               161                4.0                 16630.0
plymouth       74                 4.0                  8921.0
               115                4.0                 12764.0
               119                4.0                  6764.5
               154                4.0                  6692.0
porsche        115                6.0                 34028.0
                                  8.0                     NaN
               186                4.0                 22018.0
renault        115                4.0                  9595.0
saab           104                4.0                 15510.0
               150                4.0                 15040.0
subaru         83                 4.0                  7053.0
               85                 4.0                  9853.5
               89                 4.0                  8830.5
               102                4.0                  9233.0
toyota         65                 4.0                 10698.0
               74                 4.0                  6488.0
               77                 4.0                  6918.0
               81                 4.0                  7898.0
               87                 4.0                  5843.0
               90                 6.0                 15690.0
               91                 4.0                  7843.0
               115                6.0                 15750.0
               134                4.0                 10594.0
               168                4.0                  8768.0
               197                6.0                 16278.0
volkswagen     94                 4.0                  8495.0
               115                4.0                 12290.0
                                  5.0                 13295.0
               122                4.0                  7875.0
               256                4.0                  9980.0
volvo          74                 4.0                 16515.0
               95                 4.0                 19045.0
                                  6.0                 21977.5
               103                4.0                 15985.0
Name: price, dtype: float64

In [68]:
# The Holden Gemini 1985 prices range from $1,800 for the basic trim level Sedan Gemini SL/X to $3,630 for the top of the range Sedan Gemini SL/E.
# 1987 Isuzu Gemini 2nd-gen
df.loc[44,"price"]=1800
df.loc[45,"price"]=3630

# 1987 Isuzu Gemini 2nd-gen 2 doors $1800
# 1987 Isuzu Gemini 2nd-gen 4 doors $3630

In [69]:
df[df["price"].isnull().tolist()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Displacement_cu.in.
129,1,115,porsche,gas,std,2,hatchback,rwd,front,98.4,175.7,72.3,50.5,3366,dohcv,8.0,203,mpfi,3.94,3.11,10.0,288.0,5750,17,28,NaN,303.342108

In [125]:
# 1985 Porsche 928 S (man. 5) 
# Autotrader has 19 Used Porsche 928s for sale, including a 1983 Porsche 928 S, a 1984 Porsche 928 S, and a 1985 Porsche 928 S ranging in price from $6,950 to $88,900.
df.loc[129,"price"]=40975

In [71]:
df["price"].min()
# 80000

40.975

In [72]:
y=df["price"]

In [122]:
df.drop("peak-rpm",axis=1,inplace=True)

In [123]:
df.isnull().sum()

symboling              0
normalized-losses      0
make                   0
fuel-type              0
aspiration             0
num-of-doors           0
body-style             0
drive-wheels           0
engine-location        0
wheel-base             0
length                 0
width                  0
height                 0
curb-weight            0
engine-type            0
num-of-cylinders       0
engine-size            0
fuel-system            0
bore                   0
stroke                 0
compression-ratio      0
horsepower             0
city-mpg               0
highway-mpg            0
price                  0
Displacement_cu.in.    0
dtype: int64